name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc lcov libncurses5-dev

      - name: Install CppUTest
        run: |
          mkdir -p ~/tools
          git clone https://github.com/cpputest/cpputest.git ~/tools/cpputest
          cd ~/tools/cpputest
          autoreconf ~/tools/cpputest -i
          ./~/tools/cpputest/configure
          make

      - name: Build project and run test
        run: |
          make test